@page
@model appletenhtmlRazor.Pages.EjPotence.IndexModel
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Ejemplo calculando potencia </h2>
            <p>Ya existen funciones para realizar el calculo pero como practica crearemos una donde lo calularemos</p>
            <hr />
        </div>
        <!--//34. Custom Validation  (verificando que Name y DisplayOrder no sean iguales-->
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            
            <label asp-for="Potencia.Base">Base</label>
            <input asp-for="@Model.Potencia.Base" class="form-control" />
            <!--33. Server Side Validations-->
            <span asp-validation-for="Potencia.Base" class="text-danger"></span>

        </div>

        <div class="mb-3">
            
            <label asp-for="Potencia.Exponente">Exponente</label>
            <input asp-for="Potencia.Exponente" class="form-control" />
            <span asp-validation-for="Potencia.Exponente" class="text-danger"></span>
            
        </div>
        <hr />
        @if (TempData["Resultado"] != null)
        {
            <div class="mb-3">
                <h1>@TempData["resultado"]</h1>
            </div>
        }

        <button type="submit" class="btn btn-primary" style="width:150px;">
            Cacular Potencia
        </button>

        <a asp-page="Index" class="btn btn-secondary" style="width:150px;">
            Limpiar
        </a>
    </div>
</form>

@section Scripts{
    @{
     //36. Client Side Validations (script para ejecutar valicaciones desde el cliente)
    <partial name="_ValidationScriptsPartial"/>
    }
}

@{
}


