@page
@model appletenhtmlRazor.Pages.Articles.EditModel
<form method="post">
    <!--39. Requerido para el udpdate-->
    <input hidden asp-for="Article.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Edit Article</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            Name:
            <label asp-for="Article.Name"></label>
            <input asp-for="@Model.Article.Name" class="form-control" />
            <span asp-validation-for="Article.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            
            <label asp-for="Article.Price"></label>
            <input asp-for="Article.Price" class="form-control" />
            <span asp-validation-for="Article.Price" class="text-danger"></span>
            
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">
            Actualizar
        </button>

        <a asp-page="Index" class="btn btn-secondary" style="width:150px;">
            Atras
        </a>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}

@{
}

