@page
@model appletenhtmlRazor.Pages.EjParOImpar.IndexModel
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Ejemplo calculando numero par o impar</h2>
            <p>Calcularos si el numero introducido es par o impar</p>
            <hr />
        </div>
        <!--//34. Custom Validation  (verificando que Name y DisplayOrder no sean iguales-->
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            
            <label asp-for="Numero">Numero</label>
            <input asp-for="@Model.Numero" class="form-control" />
            <!--33. Server Side Validations-->
            <span asp-validation-for="@Model.Numero" class="text-danger"></span>

        </div>

        
        <hr />
        @if (TempData["Resultado"] != null)
        {
            <div class="mb-3">
                <h1>@TempData["Resultado"]</h1>
            </div>
        }

        <button type="submit" class="btn btn-primary" style="width:150px;">
            Calcular
        </button>

        <a asp-page="Index" class="btn btn-secondary" style="width:150px;">
            Limpiar
        </a>
    </div>
</form>

@section Scripts{
    @{
     //36. Client Side Validations (script para ejecutar valicaciones desde el cliente)
    <partial name="_ValidationScriptsPartial"/>
    }
}

@{
}


